<h3><center>Artist Search</center></h3>
<form action="/artists">
  <div class="form-group">
    <input id="search" name="search" class="form-control bg-success" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>

<h3><center>Artists</center></h3>
<% if @artists.any? %>
<ul>
  <% @artists.each do |artist| %>
  <li><a href="/artists/<%= artist.id %>"><strong><%= artist.name %>:</strong></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no artists to display.</p>
<% end %>

<a href="/artists/new">Add a new artist</a><br>

<a href="/">Return to main page</a>

<!-- <form action="/artists" method="get">
  <button type="submit" name="alphabetize" class="btn btn-warning">Alphabetize!</button>
  <button type="submit" name="sort_year" class="btn btn-warning">Sort by year!</button>
  <button type="submit" name="sort_cost" class="btn btn-warning">Sort by cost!</button>
  <button type="submit" name="random" class="btn btn-warning">Get a random artist</button>
</form> -->
