<h3><center>Access All Sales Vinyl Inventory</center></h3>
<h4><center>Choose to search by Artist or by Album</h4>


<form action="/artists" method="get">
  <button type="submit" class="btn btn-warning">Access Artists</button>
</form>

<form action="/albums" method="get">
  <button type="submit" class="btn btn-warning">Access Albums</button>
</form>
